*{
    margin:0px;
    padding: 0px;
}
.body-style{
    
    background: rgb(241,205,220);
    background: radial-gradient(circle, rgba(241,205,220,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Roboto', sans-serif;

}
.body-style2{
    background-image: url(./images/background.png);
    font-family: 'Roboto', sans-serif;
    
}
.body-style3{
    background-image: url(./images/bacg.png);
    font-family: 'Roboto', sans-serif;
    
}
.container{
    margin: 0;
    margin: auto;
    max-width: 1000px;
    
    
    padding:20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,9,121,1) 0%, rgba(0,212,255,0.38699229691876746) 48%);


}

header{

}



.profile-pic{
    height: 115px;  
    width: 100px;
     border-style: solid;
     border-radius: 50%;
      
    border-color: antiquewhite;
    float: left;
}
.profile-pic2{
    height: 115px;  
    width: 100px;
     border-style: solid;
     border-radius: 0px;
      
    border-color: antiquewhite;
    float: left;
}

.hedder-bio{
    float: left;
    padding: 30px;
    color:black;
}

.hedder-contact{
    float: right;
    padding 30px;
    width: 40%;


}
.hedder-contact a{
    text-decoration: none;
    font-weight: bold;
    color: navy;

    
}
.hedder-contact a:hover{
    text-decoration: underline;
    color: tomato;

}

.hedder-contact p a img{
    height: 15px;
    margin: 0px;
    margin-top: 0 auto;
    
    
    
    
}


.div-clear{
    clear: both;
}
hr{
    border: solid 3px;
    color: black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;

}

/*personal information*/
#personal-section{
   
    

}
.content{
    padding-bottom: 80px;
}

.left-div{
    width: 30%;
float: left;

}
.right-div
{
    
    width: 55%;
   
    float: right;
    
    font-weight: bold;
}


.common-hr{
    border:solid black 1px;
    border-bottom: none;
    width:100%;
    margin:20px auto;
}

table{
   height: auto;
   border: 2px solid;
   border-color: black;
   width: auto;
   /*padding: 10px;*/
   text-align: center;
}
th{
    padding: 2px;
    border:solid 2px;
    border-color: black;
    height:auto;
    width: auto;

}
td{
    padding: 2px;
    border:solid 2px;
    border-color: black;
    height:auto;
    width: auto;


}

.bottom-container{
    background-color: black;
    text-align: center;
    padding:10px;
}
.bottom-container a{
    color: white;
    text-decoration: none;
    margin:20px;
    
}
.bottom-container a:hover{
    color: tomato;
    text-decoration: underline;
    
    
}
.bottom-container p{
    margin-top: 10px;
    color: white;
    
    
}
